name: Deploy on Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Server Deployment
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Checking if repo exists..."
            if [ ! -d "~/perso/email-sender" ]; then
              echo "Cloning repo..."
              cd ~/perso
              git clone https://github.com/Nick-Lemy/email-sender
            fi
            echo "Navigating to repo... ~/perso/email-sender"
            cd ~/perso/email-sender

            echo "Pulling latest changes..."
            git pull origin main
            echo "Building and restarting Docker container..."
            sudo docker stop email-sender || true
            sudo docker rm email-sender || true
            sudo docker build -t email-sender .
            sudo docker run -d --name email-sender -p 4000:4000 email-sender

            exit 0
