name: Deploy on Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: SERVER_HOST
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            $REPO_ROOT = ~/perso/email-sender/
            if [ ! -d "$REPO_ROOT" ]; then
              echo "Cloning repo..."
              cd ~/perso
              git clone https://github.com/Nick-Lemy/email-sender.git
            fi
            cd $REPO_ROOT

            # Pull latest changes
            CHANGED_FILES=$(git pull origin main | grep -E 'Already')

            if [! echo "$CHANGED_FILES" | grep -q "Already"]; then
              echo "New changes on the repo, rebuilding app..."
              cd ~/perso/email-sender
              sudo docker stop email-sender || true
              sudo docker rm email-sender || true
              sudo docker build -t email-sender .
              sudo docker run -d --name email-sender -p 4000:4000 email-sender
            else
              echo "No changes."
            fi

            exit 0
